<div class="container">
  <br>
  <br>
  <h1>Quote for Quote </h1>
  <br>
  
  <h3>A Spot where you can find intresting quotes</h3>
</div>
<div class="container-fluid">
  <div class="row">    
    <button (click)="onNew()" class="btn btn-info form-btn" id="form-btn">Post a new quote</button>
    <form  (ngSubmit)="onSave()" *ngIf="showNew" id="quote-form">
      <span (click)="onCancel()" class="del"><i class="fa fa-times-circle"></i></span>
      </form>
      </div>
      </div>
    <div *ngIf= "!showNew">
        <label for="text-input">Quote</label>
        <textarea class="form-control" [(ngModel)]="quoteModel.text" placeholder="Write your quote here" rows="6" name="text" id="text-input" required></textarea>
      </div>
        <br>
        <br>
        
        
      <div *ngIf="!showNew">
        <label for="author-input">Author</label>
        <input class="form-control" type="text" [(ngModel)]="quoteModel.author" name="author" id="author-input" placeholder="Quote Author" required>

      </div>
      <div *ngIf="!showNew">
          <label for="poster-input">Poster</label>
          <input id="poster-input" class="form-control" type="text" [(ngModel)]="quoteModel.poster" name="poster" placeholder="Your name" required>
          </div>
          <div *ngIf="!showNew">
          <button type="submit" class="btn btn-primary">{{submitType}}</button>
          </div>  
      <div class="container">
        <div class="row">
            <div class="card"*ngFor='let quote of quote;let i = index'>
              <div class="card-body">
                <i class="fa fa-quote-left"></i>
                <p appHighlight >{{quote.text}} </p>
                <p>{{quote.author}}</p>
                </div>
        </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-3 action">
                {{quote.upvotes}}
            </div>
            <div class="col-3 action" (click)="quote.upvotes = quote.upvotes + 1">
                <i class="fa fa-thumbs-up"></i>
              </div>
              <div class="col-3 action" (click)="quote.downvotes = quote.downvotes + 1">
                <i class="fa fa-thumbs-down"></i>
              </div>
              <div class="col-3 action">
                {{quote.downvotes}}
              </div>
          </div>
        </div>
                 

      



  


    
  
  
  

    



  



