h1{
    text-transform: uppercase;  
    text-align: center;
    font-size: 61px;
    font-weight:bold;
    font-family: 'Gloria Hallelujah', cursive;
    color: green
    
}
h3{
    text-transform: uppercase;  
    text-align: center;
    font-size: 22px;
    font-weight: inherit;
    font-family: 'Gloria Hallelujah', cursive;
    
    
}