<div class="container">
  <br>
  <br>
  <h1>Quote for Quote </h1>
  <br>
  
  <h3>A Spot where you can find intresting quotes</h3>
</div>
<div class="container-fluid">
  <div class="row">    
    <button (click)="onNew()" class="btn btn-info form-btn" id="form-btn">Post a new quote</button>
    <form  (ngSubmit)="onSave()" *ngIf="showNew" id="quote-form">
      <span (click)="onCancel()" class="del"><i class="fa fa-times-circle"></i></span>
      </form>
      </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="card-columns">
            <div class="card"*ngFor='let quote of quotes;let i = index'>
              <div class="card-body">
                <i class="fa fa-quote-left"></i>
                <p appHighlight >{{quote.text}} </p>
                <p>{{quote.author}}</p>
                </div>
                  <div class="card-footer">
                    





                  </div>
                

            </div>
          </div>
        </div>
      </div>
      

      



  


    
  
  
  

    



  



